// Navigation code here

nav {
    .nav-styling();
    background-color: @nav-bg;

    .navbarlinks {
        .navlinks-styling();
    }

    //navbarlinks ends

    a {
        padding: 1% 1% 0 1%;
        text-decoration: none;
        color: @ebony-clay;
        font-size: 15px;
    }

    //a less ends

}

//nav less ends